body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
div{
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    background: white;
}

img{
    width: 37%;
    /* background: black; */
    /* border: 2px solid red; */
}
.navbar{
    background: black;
    color: white;
    padding: 1em;
    padding-left: 2em;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

h1{
    /* color: white; */
    margin: 0;
    padding: 0;
}

ul, li{
    margin: 0;
    padding: 0;
}

.welcome{
    display: flex;
    justify-content: space-around;
}
.mid-section{
    background: black;
    color: white;
    /* border: 2px solid black; */
    text-align: center;
    padding: 0.5em;
}

.text-animation{
    /* background: black; */
    width: 100%;
    /* color: white; */
    text-align: center;
    margin: auto;
    /* border: 2px solid red; */
}

.rotator{
    color: #3A85B2;
    font-size: 1.3em;
    font-family: cursive;
    font-weight: 700;
}

.nav-link-list{
    background-color: #000000;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    list-style-type: none;
}

.nav-link-text{
    padding: 1em;
    /* border: 2px solid red; */

}

.nav-link-text a{
    color: white;
    text-decoration: none;
}

.nav-link-text a:hover,
.nav-link-text a:focus{
    border-bottom: 0.1em solid white;
}

.subtitle{
    margin: 0;
}

.text-animation h1{
    margin-bottom: 0.5em;
}

.logo{
    padding: 0.1em 0.4em;
    margin: 0;
    border: 0.1em solid white;
}